html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--font-main);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--color-gray);
}

img {
  max-width: 100%;
  height: auto;
  box-sizing: content-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.ui {
  padding: 40px;
}

h1 {
  font-size: 42px;
  line-height: 32px;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  color: var(--color-heading);
}

h2 {
  font-size: 26px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  color: var(--color-heading);
}

h3 {
  font-size: 20px;
  line-height: 34px;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--color-heading);
}

ul,
ol {
  color: var(--color-lists);
}

strong {
  font-weight: 600;
  color: var(--color-heading);
}

a {
  color: currentColor;
  text-decoration: underline;

  transition: all var(--animation-speed) ease;
}

a:hover {
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td {
  border: 1px solid var(--color-heading);
}
