:root {
  --font-main: pt-sans-regular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  --font-secondary: proxima-regular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;

  --font-size-base: 18px;
  --line-height-base: 26px;

  --color-gray: rgba(0, 0, 0, 0.7);
  --color-heading: rgba(0, 0, 0, 0.85);
  --color-lists: rgba(0, 0, 0, 0.85);
  --color-main-bg: #2B2B2B;
  --color-white: #FFFFFF;

  --animation-speed: 0.2s;
}
