.main-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 260px;

  text-decoration: none;

  font-size: 24px;
  line-height: 1;
  font-weight: 600;

  color: var(--color-white);

  transition: color var(--animation-speed) ease;
}

.main-logo img {
  width: 60px;
  height: 65px;
  margin-right: 20px;

  transition: transform var(--animation-speed) ease;
}

.main-logo:hover {
  color: rgba(255, 255, 255, 0.7);
}

.main-logo:hover img {
  transform: rotate3d(0, 1, 0, 180deg);
}

.main-logo:not([href]):hover {
  color: var(--color-white);
}

.main-logo:not([href]):hover img {
  transform: none;
}

.main-logo--dark {
  color: var(--color-main-bg);
}

.main-logo--dark:hover {
  color: rgba(0, 0, 0, 0.7);
}

.main-logo--dark:not([href]):hover {
  color: var(--color-main-bg);
}

.main-logo--small {
  width: 160px;
  font-size: 16px;
}

.main-logo--small img {
  width: 30px;
  height: 32px;
  margin-right: 10px;
}
